<div class="container py-5">
    <div class="wrapper d-flex align-items-center justify-content-center h-100">
        <div class="card login-form">
            <div class="card-body">
                <h5 class="card-title text-center">Cadastro</h5>
                <form>
                    <div class="mb-3">
                        <label for="InputNome" class="form-label">Nome</label>
                        <input type="nome" name="inputNome"class="form-control" id="inputNome"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="InputEmail" class="form-label">E-mail</label>
                        <input type="email" name="inputEmail"class="form-control" id="InputEmail"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="InputPassword" class="form-label">Senha</label>
                        <input type="password" name="inputPassword"  class="form-control" id="InputPassword">
                    </div>
                    <button type="submit"  class="btn btn-primary w-100">Entrar</button>
                </form>
            </div>
        </div>
    </div>
</div>