<div class="envolver p-4 rounded shadow-sm">
  <div class="container-fluid mb-4">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start gap-3">
      
      <!-- Total da fatura + filtros (mobile) -->
      <div class="total-fatura-box d-flex flex-column">
        <span class="fw-semibold fs-5 text-secondary">Total da fatura:</span>
        <span class="fs-4 text-success">{{ totalParcelas | currency:'BRL'}}</span>

        <!-- Filtros Mobile -->
        <div class="filtro-data-box mt-3 d-md-none d-flex gap-2">
          <select [(ngModel)]="mesSelecionado" (change)="aoAlterarMesOuAno()" class="form-select me-1">
            <option *ngFor="let mes of meses" [value]="mes.valor">{{ mes.nome }}</option>
          </select>
          <select [(ngModel)]="anoSelecionado" (change)="aoAlterarMesOuAno()" class="form-select" name="ano">
            <option value="2025">2025</option>
          </select>
          <button class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>

      <!-- Filtros Desktop -->
      <div class="filtro-data-box mt-2 d-none d-md-flex gap-2 align-items-center">
        <select [(ngModel)]="mesSelecionado" (change)="aoAlterarMesOuAno()" class="form-select w-auto">
          <option *ngFor="let mes of meses" [value]="mes.valor">{{ mes.nome }}</option>
        </select>
        <select [(ngModel)]="anoSelecionado" (change)="aoAlterarMesOuAno()" class="form-select w-auto" name="ano">
          <option value="2025">2025</option>
        </select>
        <button class="btn btn-outline-primary">Filtrar</button>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover align-middle shadow-sm bg-white rounded">
      <thead class="table-dark">
        <tr>
          <th>Nome</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pessoas of resultados"
            data-bs-target="#modalComprasByPessoa"
            data-bs-toggle="modal"
            (click)="abrirModal(pessoas.devedor)"
            class="table-row-hover">
          <td>{{ pessoas.devedor.nome }}</td>
          <td>{{ pessoas.total | currency:'BRL' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalComprasByPessoa" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content shadow">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="modalLabel">Detalhes das Compras</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-start gap-2 mb-3">
          <button class="btn btn-danger  w-md-auto" (click)="exportarModalParaPDF()">Exportar PDF</button>
          <button (click)="exportarECompartilharPDF()" class="btn btn-outline-secondary w-md-auto"><i class="bi bi-share me-1"></i> Enviar</button>
        </div>
        <div id="conteudoModalPDF" style="font-family: Arial, sans-serif; font-size: 16px; padding: 10px;">
          <h3 style="text-align: center; margin-bottom: 20px;">
            Relatório de Compras
          </h3>
        
          <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
            <thead>
              <tr style="background-color: #343a40; color: white;">
                <th style="padding: 10px; border: 1px solid #dee2e6;">Descrição</th>
                <th style="padding: 10px; border: 1px solid #dee2e6;">Valor</th>
                <th style="padding: 10px; border: 1px solid #dee2e6;">Parcela</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let parcela of parcelasPorPessoa" style="border: 1px solid #dee2e6;">
                <td style="padding: 8px; border: 1px solid #dee2e6;">{{ parcela.descricaoCompra }}</td>
                <td style="padding: 8px; border: 1px solid #dee2e6;">{{ parcela.valor | currency: 'BRL' }}</td>
                <td style="padding: 8px; border: 1px solid #dee2e6;">{{ parcela.parcela }}</td>
              </tr>
            </tbody>
          </table>
        
          <div style="text-align: right; font-size: 18px; margin-top: 10px;">
            <strong>Total: </strong>
            <span style="font-weight: bold">
              {{ totalParcelasPessoa | currency: 'BRL' }}
            </span>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
