<div class="envolver">
    <div class="container mt-5">
        <h2 class="text-center mb-4">Lista de Pessoas</h2>
        <div class="d-flex justify-content-end mb-3">
            <button class="btn btn-primary" (click)="limparModal()" data-bs-toggle="modal" data-bs-target="#modalCadastro">Adicionar</button>
        </div>
        
        <table class="table table-hover table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pessoa of pessoas" (click)="abrirModal(pessoa)" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#modalCadastro">
                    <td>{{pessoa.nome}}</td>
                    <td>{{pessoa.telefone}}</td>
                    <td>{{pessoa.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    
    
    <!-- Modal -->
    <div class="modal fade" id="modalCadastro" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Cadastrar Pessoa</h5>
                    <button type="button" class="btn-close" (click)="removerPessoaModal()" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome</label>
                            <input name="nome" [(ngModel)]="nome" type="text" class="form-control" id="nome" placeholder="Digite seu nome" required>
                        </div>
                        <div class="mb-3">
                            <label for="telefone" class="form-label">Telefone</label>
                            <input name="telefone" [(ngModel)]="telefone" type="tel" class="form-control" id="telefone" placeholder="(99) 99999-9999" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail</label>
                            <input name="email" [(ngModel)]="email" type="email" class="form-control" id="email" placeholder="Digite seu e-mail" >
                        </div>
                        <button type="submit" id="btnCadastrar" (click)="addPessoa()" class="btn btn-primary w-25 mx-1">Cadastrar</button>
                        <button type="submit" id="btnEditar" (click)="editPessoa()" class="btn btn-success w-25 mx-1">Atualizar</button>
                        <button type="submit" id="btnExcluir" (click)="deletePessoa()" class="btn btn-danger w-25 mx-1">Excluir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="envolver">
    <div class="container mt-5">
        <h2 class="text-center mb-4">Lista de Usuários</h2>
        <div class="d-flex justify-content-end mb-3">
            <button class="btn btn-primary" (click)="limparModal()" data-bs-toggle="modal" data-bs-target="#modalCadastro">Adicionar</button>
        </div>
        
        <table class="table table-hover table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Senha</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios" style="cursor: pointer;">
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.senha}}</td> 
                </tr>
            </tbody>
        </table>
    </div>