a, span {
    color: #fff;
}

.container > a {
    font-size: 1.5rem;
}

.navbar-nav > a {
    gap: 5px;
    font-size: 1.15rem;
}

.nav-link:hover{
    color: rgb(185, 185, 185);
}

.navbar-nav .nav-link.active {
    border-bottom: 3px solid #f8f9fa !important; /* Linha branca na parte inferior */
    color: #f8f9fa !important;
}

.navbar {
    padding: 0;
}

.navbar-nav a {
    height: 80px;
}
